---
import Layout from "@/layouts/Layout.astro";
import { CounterSolid } from "@/components/solid";
import { CounterReact } from "@/components/react";
import CounterSvelte from "@/components/svelte/CounterSvelte.svelte";
import { CounterPreact } from "@/components/preact";
---

<Layout title="Welcome to Astro.">
  <CounterSolid client:load />
  <CounterReact client:load />
  <CounterSvelte client:load />
  <CounterPreact client:load />

  <div x-data="{count: 0, show: false}">
    <p>count now in alpine : <span x-text="count"></span></p>

    <button x-on:mousedown="count++">increment count</button>
    <button @mousedown="show = !show">toggle secret data</button>

    <p x-show="show">this is secret data</p>
  </div>
</Layout>
